* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

header {
    background-color: coral;
}

main {
    background-color: gray;
    height: 100vh;

    margin: 5rem 0rem;
}

/*------*/
.home {
    background-color: rgb(114, 129, 134);
}

.banner {
    background-color: lightblue;
}

.portfolio {
    background-color: lightpink;
}

.video {
    background-color: yellowgreen;
}

.entries {
    background-color: plum;
}

/*------*/

footer {
    background-color: blue;
}

/*------*/

header {
    display: flex;
    justify-content: space-around;
}

.h-img {
    display: flex;
    align-items: center;
}

header nav {
    background-color: rgb(100, 28, 28);
}

header nav ul {
    display: flex;
}

li {
    padding: 2.5rem 2rem;
}

/*------*/

.home {
    width: 100%;
    height: 80%;
    background-color: aquamarine;
}

.container-home {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
}

.i1 {
    padding: 0.5rem 4.3rem;
    margin-right: 5px;
    margin-bottom: 1rem;
}

form{
    margin-bottom: 1rem;
}

.form-home select {
    padding: 0.5rem 4rem;
    margin-right: 2px;
    width: 24%;
}

.form-home button {
    padding: 0.5rem;
    width: 25%;
}

.form-home div {
    display: flex;
    justify-content: space-between;
}

/*--- SUBSCRIBE ---*/

.subscribe {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;

}

.subscribe button {
    width: 13rem;
    padding: 0.5rem 1rem;
    font-size: 0.9em;
}


/*-------------*/
/*--- BANNER ---*/
.banner {
    background-color: coral;
    height: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.inside-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.cards-banner{
    background-color: lightblue;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    
}

.card{
    display: flex;
    justify-content: center;
    width: 32%;
    height: 5%;
}



/*-------------*/
/*---- PORTIFOLIO---*/
.portfolio{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-portifolio{
    background-color: lightgoldenrodyellow;
    height: 85%;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.cards-port{
    height: 100%;
    width: 68%;
    display: flex;
}

.cp{
    background-color: orange;
    width: 48%;
}

.img-cp{
    width: 100%;
}

.cp img{
    width: 100%;
}

.cp h3{
    font-size: 1.4em;
}

.cp p{
    font-size: 0.8em;
    line-height: 1.9em;
}

.cp div{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cp:nth-child(2){
    margin-left: 0.5rem;
}

.cp button{
    width: 100%;
    padding: 0.8rem;
    border: none;
}
/*-*/
.places{
    background-color: red;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place{
    background-color: lightblue;
    height: 18%;
    margin-left: 1rem;
}

.recommended{
    margin: 0;
}


/*-------------*/
/*----VIDEO----*/

.video{
    height: 80%;
}
/*-------------*/
/*----ENTRIES-----*/

.asia {
    display: flex;
    align-items: center;
    justify-content: center;
}
.entries{
    height: 120%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 6rem;
    background-color: rgb(219, 67, 67);
}

.cards-entries{
    padding: 1.5rem;
    height: 100%;
    width: 90%;
    box-shadow: 1px 1px 1px 1px solid;
   
}

.cd{
    background-color: rgb(244, 76, 15);
    display: flex;
    width: 100%;
    height: 50%;
}

.cd p{
    margin-bottom: 2.5rem;
    font-size: 0.9em;
}




/*-------------*/
/*----contact----*/
.contact{
    height: 40%;
}
/*-------------*/
